nav {
    padding-left: 2mm;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: turquoise;
    z-index: 1;
  }




 
header {
    margin-top: 10mm; /* adds 5mm of whitespace between the navbar and the header */
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  